<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/Custom/Main.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Custom/BootstrapOverride.css")
    @Styles.Render("~/Content/Custom/Nav.css")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" id="navigationWrapper">
        <div class="container-fluid">
            <div class="navbar-header" id="navigationHeader">
                <a href=@Url.Action("Index") class="navbar-brand"><span>LIFE</span> apartments</a>
            </div>
            <div class="navbar-collapse collapse" id="navigationBodyPublic">
                <ul class="nav navbar-nav" id="navigation">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = ""}, null)</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
