@model Apartmani.Web.Models.Visitor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.LastName @Model.FirstName</h4>
    <hr />
    
    @Html.Partial("_Details")

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to Group", "Details", new { id = Model.VisitorGroupID, controller = "VisitorGroups" })
</p>
